@model IEnumerable<StudentManagement.Models.Payment>
@{
    ViewBag.Title = "Payments";
}
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>



<p>
    <a asp-action="Create">Create New</a>
</p>


@using (Html.BeginForm("Index", "Payments"))
{
    <p>
        Search : @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Ok" />
    </p>
}


<table class="table table-bordered table-hover">
    <thead class="thead-light">
        <tr>
            <th>
                @Html.ActionLink("Type", "Index", new { sortOrder = ViewBag.PaymentType })
                @*@Html.DisplayNameFor(model => model.Type)*@
            </th>
            <th>
                @Html.ActionLink("Amount", "Index", new { sortOrder = ViewBag.PaymentAmount })
                @*@Html.DisplayNameFor(model => model.Amount)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-outline-primary" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" class="btn btn-outline-success" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
