@model IEnumerable<StudentManagement.Models.Registration>
@{
    ViewBag.Title = "Registrations";
}
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>


@using (Html.BeginForm("Index", "Registrations"))
{
    <p>
        Search : @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
        <input type="submit" value="Ok" />
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Student Name", "Index", new { sortOrder = ViewBag.StudentName })
                
            </th>
            <th>

                @Html.ActionLink("Student Address", "Index", new { sortOrder = ViewBag.StudentAddress })
         
            </th>
            <th>
                @Html.ActionLink("Student PhoneNo", "Index", new { sortOrder = ViewBag.StudentPhoneNo })
          
            </th>
            <th>
                @Html.ActionLink("PaymentType", "Index", new { sortOrder = ViewBag.PaymentType })
                
            </th>
            <th>
                @Html.ActionLink("PaymentAmount", "Index", new { sortOrder = ViewBag.PaymentAmount })
             
            </th>
            <th>
                @Html.ActionLink("FacultyName", "Index", new { sortOrder = ViewBag.FacultyName })
            
            </th>
            <th>
                @Html.ActionLink("Issued Date", "Index", new { sortOrder = ViewBag.IssuedDate })
                @*@Html.DisplayNameFor(model => model.IssuedDate)*@
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Student.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.PhoneNo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Payment.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Payment.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Faculty.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IssuedDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
