@model IEnumerable<StudentManagement.Models.Registration>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Student Name
            </th>
            <th>
                Student Address
            </th>
            <th>
               Student PhoneNo
            </th>
            <th>
            Payment Type
            </th>
            <th>
                Payment Amount          
            </th>
            <th>
              Faculty Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IssuedDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
           
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Student.PhoneNo)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Payment.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Payment.Amount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Faculty.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IssuedDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
            }
        </tbody>
</table>
